<h2><%=@food.name%></h1>
<h2><%=@food.description%> </h2>
<h2>$<%=@food.price%></h3>

<center>
<form action="/foods/<%=@food.id%>" method="post">
	<p><input type="hidden" name="_method" value="patch"/></p>
	<p><input type="text" name="foods[name]" value="<%=@food.name%>"></p>
	<p><input type="text" name="foods[description]" value="<%=@food.description%>"></p>
	<p><input type="text" name="foods[price]" value="<%=@food.price%>"></p>
	<p><input type="submit" style="color:blue"value = "Edit Food"></p></button>

</form>
</center>