<a href="/orders">SHOW ALL </a>
<form action="/orders/:id" method ="post"/>
<input type="hidden" name="orders[party_id]" value="<%=@order%>" />
<input type="hidden" name="orders[food_id]" value="<%=@order%>"/>
	<%@food.each do |food| %>
<input type="radio"><%=food.name%><%=food.description%><%=food.price%></input> 
<%end%>
<p><input type="submit" value="Add Order"></p>
</form>